<footer>
generator: '🏗️ Created by <a href=\"https://twitter.com/nhoizey\">@nhoizey</a> with the static site generator <a href=\"https://11ty.dev/\">🕚  Eleventy</a>.',
    languages: 'Source code written in 🍦 vanilla JavaScript, 🕸️ semantic HTML, 🎨 progressively enhanced CSS, and a 🧂 dash of Markdown.',
    git: '💝 Contribute on <a href=\"https://github.com/nhoizey/pack11ty.git/\">Github</a>.',
    host: '🚀 Hosted on <a href=\"https://netlify.com/\">Netlify</a>.'
</footer>
